<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><span [innerHtml]="category.name"></span></ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
		
	<div *ngIf="initial_loading">
		
		<h6 text-center>
			Refreshing 
			<ion-icon name="refresh" class="ion-spin-animation"></ion-icon>
		</h6>
		
	</div>
	
	<div *ngIf="posts" style="position: relative;"
		(click)="openPost( posts[0] )"
	>
		
		<img src="{{ posts[0].better_featured_image.media_details.sizes.medium.source_url }}" *ngIf="posts[0].better_featured_image" style="width: 100%;" />
		
		<div
			style="
				position: absolute;
				width: 100%;
				height: auto;
				bottom: 0;
				left: 0;
				background-color: rgba(0,0,0,0.5);
				color: #fff;
				padding: 5px 15px;
				font-size: 18px;
			"
		>
			<div [innerHtml]="posts[0].title.rendered"></div>
			<div>{{ posts[0].date | date }}</div>
		</div>
		
	</div>

	<ion-list>
		
		
		<div *ngFor="let p of posts | slice:1; let i=index">
			<ion-card class="border-left">
				<ion-card-content>
				
					<a 
						class="" 
						menuClose 
						ion-item 
						(click)="openPost( p )"
						style="
							cursor: pointer;
						"
					>
						<span class="menu_item_icon">
							<img src="{{ p.better_featured_image.media_details.sizes.thumbnail.source_url }}" *ngIf="p.better_featured_image" />
						</span>
						<span class="menu_item_title"
							style="
								white-space: normal;
								width: 70%;
							"
						>
							<span [innerHtml]="p.title.rendered"></span>
							<br />
							<span style="color: #999"> {{ p.date | date }} </span>
						</span>
					</a>
					
				</ion-card-content>
			</ion-card>
		</div>
		
		<div text-center>
			<button *ngIf="display_view_more_posts_button && !loading_more_posts && !initial_loading" (click)="show_more_posts()" ion-button small>
				+
				&nbsp;
				Show More Posts
			</button>
		
			<div *ngIf="loading_more_posts">
				
				<h6 text-center>
					Loading More Posts
					<ion-icon name="refresh" class="ion-spin-animation"></ion-icon>
				</h6>
				
			</div>
		</div>
	
	</ion-list>


</ion-content>
